.github/
.vscode/
src/
tests/

# dot files
.babelrc
.editorconfig
.eslintrc.json
.gitattributes
.nvmrc
.nycrc
.eslintignore

# webpack config
webpack.config.js

# future TS typings support
typings/

# coverage
.nyc_output/
coverage/
