.github/
.vscode/
src/
tests/

# dot files
.*

# Package locks
yarn.lock
package-lock.json


# webpack config
webpack.config.js

# future TS typings support
typings/

# coverage
.nyc_output/
coverage/
